@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Accueil</h1>
</div>
<div class="text-center">
    <h2>Mathis Marie-Claire</h2>
</div>
<h3>Travail à réaliser : </h3>
<ul>
    <li>Créer une application web</li>
    <li>Enregistrer votre code sur une plateforme Git telle que Github ou Bitbucket</li>
    <li>Lire et enregistrer des données depuis une base SQL</li>
    <li>Consommer des données temps réel issues d'une API publique</li>
    <li>Afficher les données sous forme de tableau et de carte interactive</li>
    <li>Déployer votre application sur un serveur accessible en ligne</li>
</ul>

<h3>Liste des objectifs : </h3>
<ol>
    <li class="line">Avoir une application ASP.Net Core de base nommée "BikeWatcher" qui tourne sur sa machine</li>
    <li class="line">Créer un repository public sur github, bitbucket ou gitlab pour héberger votre code.</li>
    <li class="line">Publier votre code sur le repository à chaque avancée</li>
    <li class="line">Supprimer du menu les pages de bases pour 2 liens de menu fonctionnels vers les pages vides suivantes : "Accueil", "Liste des stations", "Carte", "Mes favoris"</li>
    <li class="line">Compléter la pages "Accueil" pour présenter votre travail, votre nom/prenom, cette liste d'objectifs (que vous rayerez au fur et à mesure) et l'URL où votre code source est visible</li>
    <li class="line">Se brancher sur l'API VeloV du grand Lyon pour récupérer les données en temps réel</li>
    <li class="line">Afficher les données de l'API sous forme de tableau sur la page "Liste des stations" (les stations sont triées par ordre alphabétique)</li>
    <li class="line">Afficher les données de l'API sous forme de carte sur la page "Carte" (chaque station sera représentée par une épingle à son emplacement)</li>
    <li class="line">Ajouter sur caque épingle de la carte la possibilité de cliquer pour afficher une infobulle qui indiquera le nombre de vélos et de places à la station en question</li>
    <li>Ajouter la possibilité de créer un compte utilisateur sur votre application</li>
    <li class="line">Ajouter sur la page "Liste des stations" et/ou "Carte" la possibilité de rajouter des stations en favoris</liclass="line">
    <li class="line">Compléter la page "Mes favoris" pour n'afficher sous forme de tableau que les stations marquées en favoris</li>
    <li class="line">Stocker les stations favorites dans une base SQL</li>
    <li class="line">Centrer automatiquement la carte par rapport à la position de l'utilisateur</li>
    <li class="line">Trier automatiquement la liste des stations par rapport à la position de l'utilisateur</li>
    <li>Rendre votre application bilingue Français / Anglais</li>
    <li class="line">Rendre votre application utilisable à la fois pour la ville de Lyon et la ville de Bordeaux (par exemple un bouton permettra de passer de l'un à l'autre dans le menu)</li>
    <li>Déployer votre code sur un serveur accessible publiquement en consultation</li>
    <li class="line">Permettre aux utilisateurs de signaler un vélo en panne</li>
    <li class="line">Faire en sorte que votre site soit agréable à utiliser sur mobile (il ne doit pas comporter ascenseur horizontal)</li>
    <li>BONUS : toute fonctionnalité supplémentaire sera valorisée, pensez-juste à l'indiquer sur votre page d'accueil que je puisse la comptabiliser</li>
    <li class="line">Suppression des favoris</li>
</ol>

<div class="text-center">
    <h2>Code source trouvable sur Github</h2>
    <a href="https://github.com/Mathis972/BikeWatcherMathis" target="_blank">
        <img style ="width : 10%" src="~/img/github.png" />
    </a>
</div>