
@{
    ViewData["Title"] = "Liste";
}
@{
    var data = ViewBag.AllBikeStations;
    var tst = ViewBag.tst;
}
    <div class="text-center">
        <h1 class="display-4">Liste</h1>
    </div>
    <div class="container d-flex justify-content-around" style="margin:5px;">
        <a class="btn btn-danger" href="/Liste?ville=Bordeaux">Bordeaux</a>
        <a class="btn btn-primary" href="/Liste?ville=Lyon">Lyon</a>
    </div>
<div class="container">
    <div class="row row-cols-1 row-cols-md-3">
        @foreach (var bikeStation in data)
        {
            <div class="col mb-4">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title">@bikeStation.name</h5>
                        <button class="btn btn-primary">@bikeStation.available_bikes / @bikeStation.bike_stands velovs disponibles</button>
                        <a class="btn btn-danger" asp-action="AddStationToFav" asp-route-id="@bikeStation.gid">Ajouter aux favoris</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    window.onload = function () {
            //Fonction d'initialisation qui s'exécute lorsque le DOM est chargé
            if ("geolocation" in navigator) {
                navigator.geolocation.getCurrentPosition(function (position) {
                    lat = position.coords.latitude;
                    lon = position.coords.longitude;

                    if (window.location.search.match("lat")) {
                        return;
                    } else {
                        //window.location.replace("\Liste?lat=" + lat + "&lon=" + lon);
                        window.location.search += "&lat=" + lat + "&lon=" + lon;
                    }
                });
            }
        };
</script>

