
@{
    ViewData["Title"] = "Liste";
}
@{
    var data = ViewBag.AllBikeStations;
}
<div class="text-center">
    <h1 class="display-4">Liste</h1>
</div>
<div class="row row-cols-1 row-cols-md-3">
    @foreach (var bikeStation in data)
    {
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">N° @bikeStation.number</h5>
                    <p class="card-text">@bikeStation.address</p>

                </div>
            </div>
        </div>
    }
</div>

